In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(
    "instrux_135_jan_feb.csv",
    engine="python",
    on_bad_lines="skip"
)

In [5]:
print(df.shape)   # rows, columns
df.head()

(58809, 346)

,id,node_mac,device_id,user_id,location_id,timestamp,datetime,datetime_server,frequency,voltagePhaseR,...,voltageHarmonicsCN22,voltageHarmonicsCN23,voltageHarmonicsCN24,voltageHarmonicsCN25,voltageHarmonicsCN26,voltageHarmonicsCN27,voltageHarmonicsCN28,voltageHarmonicsCN29,voltageHarmonicsCN30,voltageHarmonicsCN31
0,6662558,34:94:54:95:A1:46,135,NaN,85,1735689629,2025-01-01 05:00:29,2025-01-01 05:00:29,50,236.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6662563,34:94:54:95:A1:46,135,NaN,85,1735689659,2025-01-01 05:00:59,2025-01-01 05:00:59,50,235.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6662567,34:94:54:95:A1:46,135,NaN,85,1735689689,2025-01-01 05:01:29,2025-01-01 05:01:29,50,234.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6662572,34:94:54:95:A1:46,135,NaN,85,1735689719,2025-01-01 05:01:59,2025-01-01 05:01:59,50,236.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6662577,34:94:54:95:A1:46,135,NaN,85,1735689749,2025-01-01 05:02:29,2025-01-01 05:02:29,50,236.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.dropna(axis=1, how='all')

In [7]:
df.head()

,id,node_mac,device_id,location_id,timestamp,datetime,datetime_server,frequency,voltagePhaseR,currentPhaseR,...,reactivePowerPhaseR,averageLineNeutralVoltage,energyValue,energyTimestampFrom,energyTimestampTo,totalLineCurrent,totalRealPower,totalReactivePower,powerfactorAverage,currentHarmonicsA15
0,6662558,34:94:54:95:A1:46,135,85,1735689629,2025-01-01 05:00:29,2025-01-01 05:00:29,50,236.3,0.41,...,0.0,236.2,814860.0,0,1735689629,0.43,57.0,0.0,0.56,NaN
1,6662563,34:94:54:95:A1:46,135,85,1735689659,2025-01-01 05:00:59,2025-01-01 05:00:59,50,235.5,0.41,...,0.0,235.4,814860.0,0,1735689659,0.43,56.0,0.0,0.57,NaN
2,6662567,34:94:54:95:A1:46,135,85,1735689689,2025-01-01 05:01:29,2025-01-01 05:01:29,50,234.3,0.41,...,0.0,234.2,814860.0,0,1735689689,0.44,55.0,0.0,0.52,NaN
3,6662572,34:94:54:95:A1:46,135,85,1735689719,2025-01-01 05:01:59,2025-01-01 05:01:59,50,236.3,0.44,...,0.0,236.2,814860.0,0,1735689719,0.42,57.0,0.0,0.54,NaN
4,6662577,34:94:54:95:A1:46,135,85,1735689749,2025-01-01 05:02:29,2025-01-01 05:02:29,50,236.5,0.41,...,0.0,236.6,814860.0,0,1735689749,0.47,57.0,0.0,0.55,NaN

In [12]:
constant_cols = [col for col in df.columns if df[col].nunique() == 1]
print(constant_cols)

['node_mac', 'device_id', 'location_id', 'reactivePowerPhaseR', 'energyTimestampFrom', 'totalReactivePower', 'currentHarmonicsA15']

In [13]:
df_clean = df.drop(columns=constant_cols)

In [17]:
df_clean.dtypes

id                             int64
timestamp                      int64
datetime                         str
datetime_server                  str
frequency                      int64
voltagePhaseR                float64
currentPhaseR                float64
powerfactorPhaseR            float64
realPowerPhaseR              float64
averageLineNeutralVoltage    float64
energyValue                  float64
energyTimestampTo              int64
totalLineCurrent             float64
totalRealPower               float64
powerfactorAverage           float64
dtype: object

In [18]:
df_clean["datetime"] = pd.to_datetime(df_clean["datetime"])
df_clean.set_index("datetime", inplace=True)

In [19]:
df_clean.drop(columns=["datetime_server"], inplace=True)

In [20]:
df_clean.info()
df_clean.head()

<class 'pandas.DataFrame'>
DatetimeIndex: 58809 entries, 2025-01-01 05:00:29 to 2025-01-23 15:03:31
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         58809 non-null  int64
 1   timestamp                  58809 non-null  int64
 2   frequency                  58809 non-null  int64
 3   voltagePhaseR              58809 non-null  float64
 4   currentPhaseR              58809 non-null  float64
 5   powerfactorPhaseR          58809 non-null  float64
 6   realPowerPhaseR            58809 non-null  float64
 7   averageLineNeutralVoltage  58809 non-null  float64
 8   energyValue                58809 non-null  float64
 9   energyTimestampTo          58809 non-null  int64
 10  totalLineCurrent           58809 non-null  float64
 11  totalRealPower             58809 non-null  float64
 12  powerfactorAverage         58809 non-null  float64
dtypes: float64(9), int64(4)
memory usage: 6.3 MB

,id,timestamp,frequency,voltagePhaseR,currentPhaseR,powerfactorPhaseR,realPowerPhaseR,averageLineNeutralVoltage,energyValue,energyTimestampTo,totalLineCurrent,totalRealPower,powerfactorAverage
datetime,,,,,,,,,,,,,
2025-01-01 05:00:29,6662558,1735689629,50,236.3,0.41,0.50,56.0,236.2,814860.0,1735689629,0.43,57.0,0.56
2025-01-01 05:00:59,6662563,1735689659,50,235.5,0.41,0.52,56.0,235.4,814860.0,1735689659,0.43,56.0,0.57
2025-01-01 05:01:29,6662567,1735689689,50,234.3,0.41,0.55,54.0,234.2,814860.0,1735689689,0.44,55.0,0.52
2025-01-01 05:01:59,6662572,1735689719,50,236.3,0.44,0.54,56.0,236.2,814860.0,1735689719,0.42,57.0,0.54
2025-01-01 05:02:29,6662577,1735689749,50,236.5,0.41,0.50,55.0,236.6,814860.0,1735689749,0.47,57.0,0.55

In [27]:
start_date = df_clean.index.min()
end_date = df_clean.index.max()

print("Start date:", start_date)
print("End date:", end_date)

Start date: 2025-01-01 05:00:29
End date: 2025-01-23 15:03:31

In [31]:
df_clean.to_csv('clean.csv')